# Database Configuration
DB_HOST=db
DB_DATABASE=riasec_db
DB_USER=riasec_user
DB_PASSWORD=riasec_password

# PHP Mailer (Optional)
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USER=user@example.com
MAIL_PASS=password
